
/* Responsive design */
@media (max-width: 1200px) {
  .foods-container {
    max-width: 960px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .foods-container {
    max-width: 440px;
    grid-template-columns: 1fr;
  }

  .single-food {
    max-width: 100%;
    height: auto;
    padding-bottom: 36px;
  }
}
/* food end */